/* Font Icons */
.icon {
  position: relative;
  font-size: 20px;
  width: auto;
  height: auto;
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  color: #1a3d82;
  cursor: default;
  transition: 0.3s;
  user-select: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   /* text-shadow: 2px 1px 6px rgba(26, 61, 130, 0.3); */
}
.icon-small {
  font-size: 20px;
}
.icon-medium {
  font-size: 24px;
}
.icon-large {
  font-size: 30px;
}
.icon-xlarge {
  font-size: 38px;
}
.icon-secondary-color {
  color: #15a9fa;
}
.icon-negative {
  color: white;
}
 /* Icons */
.ni-user:before {
  content: '\e800';
}
.ni-lock:before {
  content: '\e801';
}
.ni-facebook:before {
  content: '\e802';
}
.ni-twitter:before {
  content: '\e803';
}
.ni-instagram:before {
  content: '\e804';
}
.ni-alert:before {
  content: '\e805';
}
.ni-succes:before {
  content: '\e806';
}
.ni-settings:before {
  content: '\e807';
}
.ni-close:before {
  content: '\e808';
}
.ni-arrow:before {
  content: '\e809';
}
.ni-info:before {
  content: '\e80a';
}
.ni-add:before {
  content: '\e80b';
}
.ni-help:before {
  content: '\e80c';
}
.ni-support:before {
  content: '\e80d';
}
.ni-book:before {
  content: '\e80e';
}
.ni-calendar:before {
  content: '\e80f';
}
.ni-template:before {
  content: '\e810';
}
.ni-delete:before {
  content: '\e811';
}
.ni-view:before {
  content: '\e812';
}
.ni-edit:before {
  content: '\e813';
}
.ni-nimbus:before {
  content: '\e814';
}
.ni-drag:before {
  content: '\e815';
}
.ni-arrow-right:before {
  content: '\e816';
}
.ni-arrow-left:before {
  content: '\e817';
}
.ni-desktop:before {
  content: '\e818';
}
.ni-smartphone:before {
  content: '\e819';
}
.ni-upload:before {
  content: '\e81a';
}

.ni-dark:before {
  content: '\e81b';
}
.ni-light:before {
  content: '\e81c';
}
.ni-admin:before {
  content: '\e81d';
}
.ni-tablet:before {
  content: '\e81e';
}
.ni-folder:before {
  content: '\e81f';
}
.ni-folderopen:before {
  content: '\e820';
}
.ni-picture:before {
  content: '\e821';
}
.ni-doc:before {
  content: '\e822';
}
.ni-file:before {
  content: '\e823';
}
.ni-menudots:before {
  content: '\e824';
}
.ni-save:before {
  content: '\e825';
}
.ni-arrowright:before {
  content: '\e826';
}
.ni-arrowleft:before {
  content: '\e827';
}
.ni-arrowup:before {
  content: '\e828';
}

.ni-edukai:before {
  content: '\e829';
}
.ni-message:before {
  content: '\e82a';
}
.ni-traducer:before {
  content: '\e82b';
}
.ni-burguer:before {
  content: '\e82c';
}



.ni-realidad:before {
  content: '\e82d';
}
.ni-cerebro:before {
  content: '\e82e';
}
.ni-rayo:before {
  content: '\e82f';
}
.ni-corazon:before {
  content: '\e830';
}
.ni-dinero:before {
  content: '\e831';
}
.ni-play:before {
  content: '\e832';
}
