// Import Variables
@import 'variables.scss';
@import 'icons.scss';
@import 'pages.scss';

/*Import font*/
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: 700;
}
/* Import Font Icons */
@font-face {
  font-family: 'fontello';
  src: url('../fonts/Icons/fontello.eot?55274503');
  src: url('../fonts/Icons/fontello.eot?55274503#iefix') format('embedded-opentype'),
    url('../fonts/Icons/fontello.woff?55274503') format('woff'), url('../fonts/Icons/fontello.ttf?55274503') format('truetype'),
    url('../fonts/Icons/fontello.svg?55274503#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* General */
html {
  // scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  transition: .3s;
}
.body-light {
  background-color: $body-light;
  background-color: white;
}
.body-dark {
  background-color: $body-dark;
}
.body-overflow {
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
*, *:before, *:after {
  box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
/* Font styles */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  color: #283d8e;
}
h2 {
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  color: #283d8e;
}
h3 {
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #283d8e;
}
h4 {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #283d8e;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  // margin-top: 0 !important;
  // margin-bottom: 0 !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  color: $text-color;
  word-break: break-word;
}
strong {
  font-weight: 700;
}
.p-dark {
  color: #e3e8ea;
}
// Margin top class
.mt-60 {
  margin-top: 60px;
  @include smartphone {
    margin-top: 40px;
  }
}
.mt-80 {
  margin-top: 80px;
  @include smartphone {
    margin-top: 40px;
  }
}
/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  box-shadow: 0 0 1.8rem rgba(0,0,0,.15);
  @include smartphone {
    // position: fi;
  }
}
.navbar-light {
  background-color: $navbar-light;
  // background-color: rgba(255,255,255,.4);
}
.navbar-dark {
  background-color: $navbar-dark;
  .row-navbar {
    .burguer-navbar {
      .icon {
        color: white !important;
      }
    }
  }
}
.row-navbar {
  position: relative;
  width: 94%;
  max-width: $max-width;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @include smartphone {
    justify-content: center;
  }
}
.logo-navbar {
  position: absolute;
  width: 116px;
  height: 40px;
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  @include smartphone {
    position: relative;
  }
  .logo-nav {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .imagotype-navbar {
      position: relative;
      width: 25px;
      height: 25px;
      background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
      background: linear-gradient(60deg, #500b94, #982489, #fe283d, #ff6c22, #fec348, #67d7bf, #00aacf, #1c528e);
      animation: animatedgradient 10s ease alternate infinite;
      background-size: 300% 300%;
      clip-path: polygon(0% 0%, 0% 100%, 22% 100%, 22% 19%, 79% 19%, 79% 80%, 21% 80%, 21% 100%, 100% 100%, 100% 0%);
    }
  }
  .type-nav {
    position: relative;
    width: 76px;
    height: 40px;
    overflow: hidden;
    .type-svg {
      fill: $e-purple;
    }
  }
}
.type-svg-animated {
  animation: typeout 8s 1 ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes typeout {
	0% {
		transform: translateX(0px);
	}
  7% {
		transform: translateX(-57px);
	}
  40% {
		transform: translateX(-57px);
	}
  93% {
		transform: translateX(-57px);
	}
	100% {
		transform: translateX(0px);
	}
}

// Menu
// Links
.header-menu {
  position: relative;
  width: auto;
  height: auto;
  @include smartphone {
    display: none;
  }
}
.header-menu:after {
  content: "";
  clear: both;
}
.scroll-nav {
  position: relative;
  width: auto;
  height: auto;
}
ol.scroll-nav__list {
  position: relative;
  width: auto;
  height: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}
ol.scroll-nav__list:after {
  content: "";
  display: table;
  clear: both;
}
.scroll-nav__item {
  // border-bottom: 2px dashed transparent;
  margin-right: 20px;
  transition: .2s;
  &:nth-last-child(1) {
    margin-right: 0;
  }
}
.scroll-nav__item--active {
  // border-bottom-color: #ad2994;
}
.scroll-nav__link {
  font-weight: 400;
  color: lightslategray;
  text-decoration: none;
  font-size: 16px;
  transition: .2s;
}
.scroll-nav__item--active>.scroll-nav__link {
  color: #4966f7;
}

// Dark mode
.switch-mode {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
  clip-path: circle(50% at 50% 50%);
  @include smartphone {
    position: absolute;
    top: 2px;
    right: 0;
  }

  .icon {
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 8px;
  }
  .ni-light {
    color: #e47036;
    text-shadow: 0px 2px 8px rgba(252, 181, 15, 0.7);
  }
  .ni-dark {
    color: white;
    transform:translate(100%,-100%);
    text-shadow: 0px 2px 8px rgba(222, 243, 255, 0.7);
  }
}
.light-mode {
  background-color: #dcf0fb;
}
.dark-mode {
  background-color: #151e36;
}
.sun-out {
  animation: sunout .3s 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.sun-in {
  animation: sunin .3s 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.moon-out {
  animation: moonout .3s 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.moon-in {
  animation: moonin .3s 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes sunout {
  0% {
    transform:translate(0%,0%);
  }
  100% {
    transform:translate(-100%,100%);
  }
}
@keyframes sunin {
  0% {
    transform:translate(-100%,100%);
  }
  100% {
    transform:translate(0%,0%);
  }
}
@keyframes moonout {
  0% {
    transform:translate(0%,0%);
  }
  100% {
    transform:translate(100%,-100%);
  }
}
@keyframes moonin {
  0% {
    transform:translate(100%,-100%);
  }
  100% {
    transform:translate(0%,0%);
  }
}
.nav-dark {
  background-color: rgba(40,50,60, 1);
}
.navbar-dark {
  .row-navbar {
    .links-navbar {
      .a-navbar {
        color: white;
      }
      .a-navbar-blog {
        color: white;
      }
    }
    .logo-navbar {
      .logo-nav {
      }
      .type-nav {
        .type-svg {
          fill: white;
        }
      }
    }
  }
}

// Small menu
.burguer-navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  display: none;
  justify-content: center;
  align-items: center;
  transition: .3s;
  border-radius: 50%;
  cursor: pointer;
  @include smartphone {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon {
    font-size: 28px;
    cursor: pointer;
  }
}
.background-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  z-index: 5;
  display: none;
}
.background-menu-show {
  display: flex;
}
.small-menu {
  @include smartphone {
    position: fixed;
    width: 70%;
    height: 100vh;
    top: 0;
    left: -70%;
    z-index: 6;
    background-color: white;
    box-shadow: 0 20px 30px rgba(16, 18, 51, 0.08), 0 6px 18px rgba(16, 18, 51, 0.10);
    display: flex;
    flex-direction: column;
    transition: .3s;
  }
}
.small-menu-show {
  animation: menuin .200s 1 ease-in;
  animation-fill-mode: forwards;
}
@keyframes menuin {
    0%{
        left: -70%;
    }
    100%{
        left: 0%;
    }
}
.small-menu-hide {
  animation: menuout .200s 1 ease-in;
  animation-fill-mode: forwards;
}
@keyframes menuout {
    0%{
        left: 0%;
    }
    100%{
        left: -70%;
    }
}
.small-menu-header {
  @include smartphone {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #f2f1f7;
    border-bottom: 1px solid $window-divider-color;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    .smh-logo {
      position: relative;
      width: 50px;
      height: 50px;
      background-image: url("../img/imagotipo.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}
.small-menu-content {
  @include smartphone {
    position: relative;
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
ul.small-menu-ul {
  display: none;
  @include smartphone {
    position: relative;
    width: 88%;
    height: auto;
    min-height: 100px;
    list-style: none;
    display: flex;
    flex-direction: column;
    transition: .3s;

    li {
      position: relative;
      width: 100%;
      height: 40px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
      a {
        position: relative;
        width: 100%;
        height: 40px;
        text-decoration: none;
        color: #607d8b;
      }
    }
  }
}
.small-menu-dark {
  background-color: $navbar-dark;
  .small-menu-header {
    background-color: #0e0f16;
    border-bottom: 1px solid $divider-dark;
  }
}
// Mainheader
/* Header */
.header {
  position: relative;
  width: 100%;
  // height: 620px;
  height: 700px;
  background-color: #11182b;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: .3s;
  @include smartphone {
    margin-top: 0px;
    flex-direction: column;
    height: 600px;
  }
  @include tablet {
    flex-direction: column;
  }
  @include laptop {
  }
}
#te {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 70%;
}
.header-img {
  position: relative;
  width: 50%;
  max-width: 550px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.logo-header {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  @include smartphone {
    width: 150px;
    height: 150px;
    display: none;
  }
}
.logo-header-small {
  position: relative;
  width: 200px;
  height: 200px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  @include smartphone {
    width: 150px;
    height: 150px;
    display: flex;
  }
}
.imagotype-header {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background: linear-gradient(60deg, #500b94, #982489, #fe283d, #ff6c22, #fec348, #67d7bf, #00aacf, #1c528e);
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
  clip-path: polygon(0% 0%, 0% 100%, 22% 100%, 22% 19%, 79% 19%, 79% 80%, 21% 80%, 21% 100%, 100% 100%, 100% 0%);
}

// AutoTyping
.header-text {
  position: relative;
  width: 50%;
  max-width: 699px;
  height: auto;
  z-index: 2;
  @include smartphone {
    width: 90%;
    margin-top: 60px;
  }
  @include tablet {
    width: 70%;
    margin-top: 40px;
  }
  @include laptop {
    width: 40%;
  }
}
// Autotype
.text-js {
  opacity: 0;
}
.headline {
  position: relative;
  width: 100%;
  height: 200px;
}
h3.text-js {
  color: white;
  font-size: 32px;
  line-height: 45px;
  font-weight: 600;
  @include smartphone {
    font-size: 26px;
    line-height: 40px;
  }
  @include tablet {
    font-size: 28px;
    line-height: 40px;
  }
}
#typed {
  position: relative;
  width: 100%;
  height: auto;
  color: white;
  font-size: 32px;
  line-height: 45px;
  font-weight: 600;
  @include smartphone {
    font-size: 26px;
    line-height: 40px;
    height: 220px;
  }
  @include tablet {
    font-size: 28px;
    line-height: 40px;
  }
}
// Header animated
.stagger-visualizer {
  position: absolute;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 17rem;
  height: 17rem;
  // width: 80%;
  // height: auto;
  z-index: 1;
  @include smartphone {
    display: none;
  }
}
.stagger-visualizer div {
  width: 1rem;
  height: 1rem;
  border: 1px solid #1d2740;
  background-color: #1d2740;
  opacity: 1;
  @include smartphone {
    opacity: .3;
  }
}
.line-header {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(60deg, #500b94, #982489, #fe283d, #ff6c22, #fec348, #67d7bf, #00aacf, #1c528e);
  animation: animatedgradient 15s ease alternate infinite;
  background-size: 300% 300%;
}
.body-dark {
  .header {
    background-color: $navbar-dark;
  }
}
/* Title */
.row-title-single {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
    @include smartphone {
      font-size: 26px;
    }
  }
  h3 {
    text-align: center;
    @include smartphone {
      font-size: 23px;
      width: 70%;
      line-height: 30px;
    }
  }
}
.row-title-double {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-title-double > h3 {
  font-size: 20px;
  text-align: center;
  color: $h3-color;
  @include smartphone {
    font-size: 16px;
  }
}
.row-title-double > h2 {
  margin-top: 8px;
  text-align: center;
  @include smartphone {
    font-size: 26px;
    margin-top: 4px;
  }
}
.body-dark {
  .row-title-single {
    h2 {
      color: white;
    }
    h3 {
      color: white;
    }
  }
  .row-title-double {
    h3 {
      color: #ad2994;
    }
    h2 {
      color: white;
    }
  }
}
/* Block text image */
// About Us
.block-image-text {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-block-image-text {
  position: relative;
  width: 94%;
  max-width: $max-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include smartphone {
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.block-it-image {
  position: relative;
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @include smartphone {
    width: 100%;
  }
  img {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 6px;
    // box-shadow: $shadow;
  }
}
.block-it-text {
  position: relative;
  width: 40%;
  height: auto;
  @include smartphone {
    width: 100%;
    margin-top: 20px;
  }
  p {
    font-size: 18px;
    padding-left: 40px;
    @include smartphone {
      padding-left: 0;
    }
  }
}
.body-dark {
  .block-image-text {
    .row-block-image-text {
      .block-it-text {
        p {
          color: $p-dark;
        }
      }
    }
  }
}
// Services
.row-services {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  @include smartphone {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 60px;
    overflow: hidden;
  }
  .col-services {
    position: relative;
    width: 96%;
    max-width: $max-width;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include smartphone {
      width: 100%;
    }
    .section-serv {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      @include smartphone {
        width: 90%;
        justify-content: space-around;
      }
      .col-serv1 {
        position: relative;
        width: 25%;
        height: auto;
        display: flex;
        flex-direction: column;
        @include smartphone {
          width: 40%;
        }
        h3 {
          font-size: 34px;
          font-weight: 700;
          text-align: right;
          @include smartphone {
            font-size: 26px;
          }
        }
        p {
          font-size: 18px;
          text-align: right;
          @include smartphone {
            font-size: 16px;
          }
        }
      }
      .col-serv2 {
        position: relative;
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        @include smartphone {
          display: none;
        }
        .img-serv {
          width: 360px;
          height: 240px;
          background-image: url("../img/weareMac1.png");
          background-position: center;
          background-size: 100%;
          background-repeat: no-repeat;
          z-index: 1;
        }
      }
      .col-serv3 {
        position: relative;
        width: 25%;
        height: auto;
        display: flex;
        flex-direction: column;
        @include smartphone {
          width: 40%;
        }
        h3 {
          font-size: 34px;
          font-weight: 700;
          text-align: left;
          @include smartphone {
            font-size: 26px;
          }
        }
        p {
          font-size: 18px;
          text-align: left;
          @include smartphone {
            font-size: 16px;
          }
        }
      }
      &:nth-child(3) {
        margin-top: 60px;
        .col-serv2 {
          @include smartphone {
            display: none;
          }
          .img-serv {
            width: 360px;
            height: 240px;
            background-image: url("../img/weareMac2.png");
            z-index: 2;
          }
        }
      }
    }
  }
}
.row-services-imgHide {
  display: none;
  @include smartphone {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    img {
      position: relative;
      width: 80%;
      width: 280px;
      height: 217px;
    }
  }
}
.body-dark {
  .row-services {
    .col-services {
      .section-serv {
        .col-serv1, .col-serv3 {
          p {color: white;}
        }
      }
    }
  }
}

/* Clients */
.block-clients {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  @include smartphone {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}
.row-clients {
  position: relative;
  width: 94%;
  max-width: $max-width;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include smartphone {
    flex-direction: column;
  }
}
.brand {
  position: relative;
  width: 160px;
  height: 58px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
  cursor: pointer;
  @include smartphone {
    width: 150px;
    height: 54px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    &:nth-child(1) {
      margin-top: 0;
    }
  }
}
.brand-1 {
  background-image: url("../img/logo_educare.svg");
}
.brand-2 {
  background-image: url("../img/logo_todo.svg");
}
.brand-3 {
  background-image: url("../img/logo_nimbus2.svg");
}
.body-dark {
  .block-clients {
    .row-clients {
      .brand-1 {background-image: url("../img/logo_educare_w.svg");}
      .brand-2 {background-image: url("../img/logo_todo_w.svg");}
      .brand-3 {background-image: url("../img/logo_nimbus2_w.svg");}
    }
  }
}
/* Block text image */
// Products
.block-text-image {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include smartphone {
    padding-top: 20px;
    padding-bottom: 60px;
    overflow: hidden;
  }
}
.row-block-text-image {
  position: relative;
  width: 94%;
  max-width: $max-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include smartphone {
    width: 86%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.block-ti-image {
  position: relative;
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @include smartphone {
    width: 100%;
    margin-top: 30px;
  }
  img {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 6px;
    // box-shadow: $shadow;
  }
  video {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: $shadow;
  }
}
.weAre2 {
  position: absolute !important;
  right: 0 !important;
}
.edukai-square {
  position: absolute;
  width: 130px;
  height: 130px;
  bottom: -65px;
  right: 30px;
  background-image: url("../img/imagotipo.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  @include smartphone {
    width: 60px;
    height: 60px;
    bottom: -30px;
    right: 15px;
  }
}
.block-ti-text {
  position: relative;
  width: 40%;
  height: auto;
  @include smartphone {
    width: 100%;
  }
  h3 {
    position: relative;
    width: 100%;
    max-width: 600px;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #2b2a35;
    @include smartphone {
      font-size: 28px;
      text-align: center;
    }
  }
  p {
    font-size: 18px;
    padding-right: 40px;
    @include smartphone {
      padding-right: 0;
    }
  }
  a {
    position: relative;
    color: #334ac0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    opacity: .6;
    transition: .3s;
    display: flex;
    align-items: center;
    pointer-events: none;
    // &:hover {
    //   opacity: 1;
    // }
    .icon {
      color: #334ac0;
      font-size: 26px;
      margin-left: 10px;
    }
  }
  h4 {
    position: relative;
    @include smartphone {
      margin-top: 20px;
    }
  }
}
.ti-title {
  @include smartphone {
    margin-top: 40px;
    margin-bottom: 30px !important;
  }
}
.video-test {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  video {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 6px;
  }
}
.body-dark {
  .block-text-image {
    .row-block-text-image {
      .block-ti-text {
        .ti-title {color: $violet;}
        h4 {color: white;}
        h3 {color: white;}
        p {color: $p-dark;}
        a {color: $p-dark;}
      }
    }
  }
}

// Marketplace
.marketplace {
  position: relative;
  width: 100%;
  height: auto;
  @include smartphone {
    margin-top: 20px;
  }

  img {
    position: relative;
    width: 100%;
    max-width: 1800px;
    height: auto;
    @include smartphone {
      max-width: 600px;
    }
  }
  .img-stack {
    @include smartphone {
      display: none;
    }
  }
  .img-stack-responsive {
    display: none;
    @include smartphone {
      display: flex;
    }
  }
}

/* Contact */
.contact {
  position: relative;
  width: 100%;
  height: auto;
  background: #4966f7 linear-gradient(95.24deg,#11182b 0,#0a1b4c 122.55%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s;
  padding-top: 40px;
  padding-bottom: 100px;
  @include smartphone {
    height: auto;
    padding-top: 20px;
    padding-bottom: 60px;
  }
}
.row-title {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  h2 {
    color: white;
    font-size: 48px;
    font-weight: 700;
    @include smartphone {
      font-size: 36px;
    }
  }
  h3 {
    position: relative;
    font-size: 38px;
    font-weight: 700;
    color: $violet;
  }
}
.body-dark {
  .contact  {
    background: #11182b;
    .row-title {
      h2 {color: $violet;}
    }
  }
}
.row-contact {
  position: relative;
  width: 94%;
  max-width: $max-width;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include smartphone {
    flex-direction: column;
    margin-top: 0px;
  }
  .rc-col1 {
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include smartphone {
      width: 100%;
    }
    img {
      position: relative;
      width: 90%;
      max-width: 450px;
      height: auto;
      @include smartphone {
        max-width: 300px;
      }
    }
  }
  .rc-col2 {
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include smartphone {
      width: 100%;
      align-items: center;
    }
  }

  .contact-element {
    position: relative;
    width: 80%;
    height: 110px;
    border-bottom: 1px solid rgba(255,255,255, .2 );
    display: flex;
    justify-content: center;
    // box-shadow: $shadow;
    margin-top: 25px;
    @include smartphone {
      height: 80px !important;
      margin-top: 15px;
    }
    &:nth-child(1) {
      margin-top: 0px;
    }
    @include smartphone {
      width: 86%;
      margin-top: 30px;
      height: 120px;
      &:nth-child(1) {
        margin-top: 0;
      }
    }
    @include tablet {
    }
    &:nth-child(2) {
    }
    &:nth-child(3) {
    }

    .ce-icon {
      position: relative;
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .cci-circle {
        position: relative;
        width: 70px;
        height: 70px;
        // background-color: rgba(155,155,155,.9);
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include smartphone {
          width: 50px;
          height: 50px;
        }
        @include tablet {
          width: 40px;
          height: 40px;
        }

        .icon {
          color: #334ac0;
          font-size: 32px;
        }
      }
    }
    .ce-text {
      margin-left: 4%;
      position: relative;
      width: 70%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        position: relative;
        width: 100%;
        height: auto;
        font-size: 16px;
        font-weight: 400;
        // color: #2b2a35;
        color: white;
      }
    }
  }
}
 /* Main button style */
.main-btn {
  position: relative;
  width: auto;
  height: 38px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  text-align: center;
  border: none;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.1rem 0.1rem transparent;
  border-radius: 8px;
  background-color: #11182b;
  transition: all 0.3s ease;
}
.main-btn:hover {
  background-color: #202e52;
}
.main-btn:focus {
  outline: none;
}
.main-btn:active {
  outline: none;
}

/* Footer */
.line-footer-gradient {
  position: absolute;
  top: -4px;
  width: 100%;
  height: 4px;
  background: linear-gradient(60deg, #500b94, #982489, #fe283d, #ff6c22, #fec348, #67d7bf, #00aacf, #1c528e);
  animation: animatedgradient 15s ease alternate infinite;
  background-size: 300% 300%;
}
.footer {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: .3s;
}
.footer-light {
  background-color: $footer-light;
}
.footer-dark {
  background-color: $footer-dark;
}
.row-footer {
  position: relative;
  width: 92%;
  max-width: $max-width;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  @include smartphone {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 86%;
  }
}
.footer-logo-small {
  display: none;
  @include smartphone {
    display: flex;
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    justify-content: flex-start;
    align-items: center;
  }
  .logo-footer-small {
    position: relative;
    width: 130px;
    height: 40px;
    background-image: url('../img/logo_footer.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
.logo-footer {
  position: relative;
  width: 130px;
  height: 40px;
  background-image: url('../img/logo_footer.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.row-columns {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  @include smartphone {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.col-footer-logo {
  position: relative;
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  @include smartphone {
    display: none;
  }
}
.col-footer {
  position: relative;
  width: 40%;
  height: auto;
  display: flex;
  @include smartphone {
    width: 100%;
    margin-top: 15px;
  }
}
.cf-1 {
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: 600;
  }
  a {
    position: relative;
    width: 120px;
    height: auto;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.4;
    // line-height: 1.125;
    margin-bottom: 12px;
    color: #171a40;
    transition: .3s;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.cf-2 {
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: 600;
  }
  a {
    position: relative;
    width: 120px;
    height: auto;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 12px;
    color: #171a40;
    transition: .3s;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.social-row {
  position: relative;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  .icon {
    position: relative;
    font-size: 28px;
    transition: .3s;
    cursor: pointer;
    &:hover {
      color: #00bcd4;
    }
  }
}

.line-footer {
  position: relative;
  width: 92%;
  max-width: $max-width;
  height: auto;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: $e-purple;
  }
}
.line-footer > p .icon {
  color: $e-purple;
  font-size: 16px;
  line-height: 16px;
}
.button-lenguage {
  position: absolute;
  left: 0;
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include smartphone {
    display: none;
  }
}
.button-lenguage > p {
  position: relative;
  margin-left: 5px;
}
.line-divider-footer {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #e7e8ed;
  transition: .3s;
}
.footer-dark {
  .row-footer {
    .footer-logo-small {
      .logo-footer-small {
        background-image: url('../img/logo_footer_negative.svg');
      }
    }

    .row-columns {
      .col-footer-logo {
        .logo-footer {
          background-image: url('../img/logo_footer_negative.svg');
        }
      }
      .col-footer {
        .cf-1, .cf-2 {
          h4 {
            color: white;
          }
          a {
            color: white;
          }
        }
        .cf-2 {
          .social-row {
            .icon {
              color: white;
            }
          }
        }
      }
    }
  }
  .line-divider-footer {
    background-color: $divider-dark;
  }
  .line-footer {
    .button-lenguage {
      .icon {
        color: white;
      }
    }
    p {
      color: white;

      .icon {
        color: white;
      }
    }
  }
}
.false-a {
  a {
    pointer-events: none;
    cursor: text;
  }
}

.body-light {
  .bg-grey {
    background-color: #e7ecef;
  }
}

.scroll-fade-in-up {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.scroll-fade-in-up:nth-child(3n+2) {
  transition-delay: 0.1s;
}
.scroll-fade-in-up:nth-child(3n) {
  transition-delay: 0.2s;
}
.scroll-fade-in-up.visible {
  opacity: 1;
  transform: none;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.bg-white {
  background-color: #fff;
}
// New Stack
.row-newStackInfo {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 20px;
  @include smartphone {
    padding-top: 60px;
    padding-bottom: 10px;
  }
  h3 {
    position: relative;
    width: 80%;
    max-width: 600px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    @include smartphone {
      font-size: 36px;
    }
  }
  p {
    position: relative;
    text-align: center;
    width: 80%;
    max-width: 600px;
    font-size: 18px;
    // line-height: 29px;
  }
}
.row-newStack {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 40px;

  .col-stack {
    position: relative;
    width: 15%;
    height: auto;
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
      position: relative;
      width: 80%;
      height: auto;
      border-radius: 6px;
      margin-top: 20px;
      box-shadow: 0 0 1.8rem rgba(0,0,0,.15);
      &:first-child{
          margin-top: 0px;
      }
    }
  }
}
.body-dark {
  .row-newStack {
    .col-stack {
      img {background-color: #292b3a;}
    }
  }
  .container-insdustry {
    .tab {
      .tab_menu {
        .tab_menu_item {
          .tab_menu_item_link {color: white;}
        }
      }
      .tab_container {
        .tab_content {
          .text-tab {
            p {
              color: white;
            }
          }
        }
      }
    }
  }
}

.sectionBg {
  background-color: #f6f6f6;
}
.hide-title {
  // display: none;
  opacity: 0;
  position: relative;
  width: 100%;
  height: 2px;
}



.clearfix {
	display: table;
	clear: both;
}
.container-insdustry {
  position: relative;
	width: 100%;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  @include smartphone {
    padding-bottom: 60px;
  }
}
.tab {
  position: relative;
  width: 96%;
  max-width: $max-width;
  height: auto;
  display: flex;
  flex-direction: column;
}
.tab_menu {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include smartphone {
    width: 96%;
    margin: 0 auto;
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
  }

	&_item {
    position: relative;
    width: auto;
    height: auto;
    margin-left: 20px;
    cursor: pointer;
    @include smartphone {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
		&:last-child {
		}
		&_link {
			position: relative;
			width: auto;
      height: auto;
      border: 0;
      padding: 9px 20px 11px;
			border-radius: 30px;
			color: #283d8e;
			transition: .3s;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      background: transparent;
      @include smartphone {
        font-size: 15px;
        padding: 6px 16px 8px;
      }

			&:hover {
        color: #4966f7;
      }
			&.is-active {
				background: linear-gradient(91.14deg,#4966f7 0,#8253ff 122.55%);
				border-radius: 30px;
        color: white;
			}
		}
	}
}
.tab_container {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 200px;
}
.tab_content {
  position: relative;
  width: 100%;
  height: auto;
	display: none;

	&.is-active {
		display: flex;
    justify-content: space-around;
		animation: fade 0.5s ease;
    @include smartphone {
      flex-direction: column;
      width: 92%;
      margin: 0 auto;
    }
	}
}
.text-tab {
  position: relative;
  width: calc(100% - 300px);
  height: auto;
  min-height: 100px;
  display: flex;
  align-items: center;
  background-image: url("../img/s1bg.png");
  background-position: right;
  background-size: 400px;
  background-repeat: no-repeat;
  @include smartphone {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-position: center;
    background-size: 100%;
  }
  p {
    position: relative;
    width: 50%;
    font-size: 18px;
    @include smartphone {
      font-size: 17px;
      width: 100%;
    }
  }
}
.img-tab {
  position: relative;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  @include smartphone {
    width: 100%;
  }
  img {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 220px;
    @include smartphone {
      width: 80%;
      width: 300px;
      height: 225px;
    }
  }
}
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
// Solution org
.row-solutionO {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 100px;
  // background-image: url("../img/bgTest.png");
  // background-position: center;
  // background-size: 100%;
  // background-repeat: no-repeat;
  @include smartphone {
    padding-bottom: 60px;
  }
  .col-solutionO {
    position: relative;
    width: 96%;
    max-width: $max-width;
    height: auto;
    display: flex;
    justify-content: space-around;
    @include smartphone {
      flex-direction: column;
      width: 82%;
    }
  }
  .element-sO {
    position: relative;
    width: 30%;
    height: 420px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: linear-gradient(91.14deg,#4966f7 0,#8253ff 122.55%);
    box-shadow: $shadow;
    @include smartphone {
      width: 100%;
      height: 380px;
      margin-top: 30px;
      &:nth-child(1) {
        margin-top: 0;
      }
    }
    .row-elementSO {
      position: relative;
      width: 85%;
      height: auto;
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 36px;
        font-weight: 700;
        color: white;
        margin-top: 40px;
        margin-bottom: 15px;
        text-align: center;
        @include smartphone {
          font-size: 28px;
          margin-bottom: 10px;
        }
      }
      p {
        font-size: 19px;
        color: white;
        @include smartphone {
          font-size: 18px;
        }
      }
      a {
        position: absolute;
        bottom: 40px;
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        opacity: .8;
        transition: .3s;
        display: flex;
        align-items: center;
        @include smartphone {
          bottom: 25px;
          opacity: 1;
        }
        &:hover {
          opacity: 1;
        }
        .icon {
          color: white;
          font-size: 26px;
          margin-left: 10px;
        }
      }
      .imgSO {
        position: absolute;
        width: 140px;
        height: 140px;
        right: -10px;
        bottom: -40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        @include smartphone {
          right: -10px;
          bottom: -5px;
        }
      }
    }
  }
}
.iSO1 {
  background-image: url("../img/so3.png");
}
.iSO2 {
  background-image: url("../img/so2.png");
}
.iSO3 {
  background-image: url("../img/so1.png");
}

// Menu Dropdown
.mList {
  position: relative;
  width: 130px;
  height: auto;
  @include smartphone {
    display: none;
  }
}
.menuList {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  // border: 1px solid silver;
}
.menu-title {
  display: block;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: lightslategray;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
  text-decoration: none;
  text-align: center;
}
.menuL-dropdown {
  min-width: 100%;
  position: absolute;
  background-color: white;
  z-index: 100;
  transition: .3s;
  box-shadow: 0 0 1.8rem rgba(0,0,0,.15);
  li {
    position: relative;
    width: 100%;
    height: auto;
    a {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 35px;
      color: lightslategray;
      text-decoration: none;
    }
  }
}
.menuList:not(:hover) > .menuL-dropdown {
  z-index: 99;
}
.menuL-dropdown > * {
  overflow: hidden;
  height: 35px;
  padding-left: 10px;
  background: rgba(110,110,110,0);
  white-space: nowrap;
  transition:
    0.5s height cubic-bezier(.73,.32,.34,1.5),
    0.5s padding cubic-bezier(.73,.32,.34,1.5),
    0.5s margin cubic-bezier(.73,.32,.34,1.5),
    0.5s 0.2s color;
     color: lightslategray;
     display: flex;
     align-items: center;
}
.menuL-dropdown > *:hover {
  background: rgba(110,110,110,0.1);
}
.menuL-dropdown > li.dpA-active {
  background: rgba(110,110,110,0.2);
  pointer-events: none;
}
.menuL-dropdown > li.dpA-active:hover {
  background: rgba(110,110,110,0.2);
  pointer-events: none;
}
.menuL-dropdown > li.dpA-active a {
  pointer-events: none;
  cursor: default;
  color: $violet;
}
.menuList:not(:hover) > .menuL-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25,25,25,0);
  transition:
    0.5s 0.1s height,
    0.5s 0.1s padding,
    0.5s 0.1s margin,
    0.3s color,
    0.6s visibility;
  z-index: 99;
}
// New menu
.menuElement {
  position: relative;
  width: auto;
  height: auto;
  font-weight: 400;
  color: lightslategray;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  @include smartphone {
    display: none;
  }
}
// Body Drk title
.body-dark {
  .row-newStackInfo {
    h3 { color: $violet;}
    p {color: white;}
  }
  .sectionBg {background-color: #13141f;}
}
.menuElement-active {
  color: $violet;
}
// Back to top
#back-to-top {
    position: fixed;
    width: auto;
    height: auto;
    padding: 5px;
    padding-left: 10px;
    bottom: 32px;
    right: 32px;
    text-align: center;
    background: #f5f5f5;
    color: $blue-nimbus-dark;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    z-index: 3;
    box-shadow: $shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      margin-left: 6px;
    }
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}

// Last
