@charset "UTF-8";
/* Font Icons */
.icon {
  position: relative;
  font-size: 20px;
  width: auto;
  height: auto;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  color: #1a3d82;
  cursor: default;
  transition: 0.3s;
  user-select: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-shadow: 2px 1px 6px rgba(26, 61, 130, 0.3); */
}

.icon-small {
  font-size: 20px;
}

.icon-medium {
  font-size: 24px;
}

.icon-large {
  font-size: 30px;
}

.icon-xlarge {
  font-size: 38px;
}

.icon-secondary-color {
  color: #15a9fa;
}

.icon-negative {
  color: white;
}

/* Icons */
.ni-user:before {
  content: "";
}

.ni-lock:before {
  content: "";
}

.ni-facebook:before {
  content: "";
}

.ni-twitter:before {
  content: "";
}

.ni-instagram:before {
  content: "";
}

.ni-alert:before {
  content: "";
}

.ni-succes:before {
  content: "";
}

.ni-settings:before {
  content: "";
}

.ni-close:before {
  content: "";
}

.ni-arrow:before {
  content: "";
}

.ni-info:before {
  content: "";
}

.ni-add:before {
  content: "";
}

.ni-help:before {
  content: "";
}

.ni-support:before {
  content: "";
}

.ni-book:before {
  content: "";
}

.ni-calendar:before {
  content: "";
}

.ni-template:before {
  content: "";
}

.ni-delete:before {
  content: "";
}

.ni-view:before {
  content: "";
}

.ni-edit:before {
  content: "";
}

.ni-nimbus:before {
  content: "";
}

.ni-drag:before {
  content: "";
}

.ni-arrow-right:before {
  content: "";
}

.ni-arrow-left:before {
  content: "";
}

.ni-desktop:before {
  content: "";
}

.ni-smartphone:before {
  content: "";
}

.ni-upload:before {
  content: "";
}

.ni-dark:before {
  content: "";
}

.ni-light:before {
  content: "";
}

.ni-admin:before {
  content: "";
}

.ni-tablet:before {
  content: "";
}

.ni-folder:before {
  content: "";
}

.ni-folderopen:before {
  content: "";
}

.ni-picture:before {
  content: "";
}

.ni-doc:before {
  content: "";
}

.ni-file:before {
  content: "";
}

.ni-menudots:before {
  content: "";
}

.ni-save:before {
  content: "";
}

.ni-arrowright:before {
  content: "";
}

.ni-arrowleft:before {
  content: "";
}

.ni-arrowup:before {
  content: "";
}

.ni-edukai:before {
  content: "";
}

.ni-message:before {
  content: "";
}

.ni-traducer:before {
  content: "";
}

.ni-burguer:before {
  content: "";
}

.ni-realidad:before {
  content: "";
}

.ni-cerebro:before {
  content: "";
}

.ni-rayo:before {
  content: "";
}

.ni-corazon:before {
  content: "";
}

.ni-dinero:before {
  content: "";
}

.ni-play:before {
  content: "";
}

/*Import font*/
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: 700;
}
/* Import Font Icons */
@font-face {
  font-family: "fontello";
  src: url("../fonts/Icons/fontello.eot?55274503");
  src: url("../fonts/Icons/fontello.eot?55274503#iefix") format("embedded-opentype"), url("../fonts/Icons/fontello.woff?55274503") format("woff"), url("../fonts/Icons/fontello.ttf?55274503") format("truetype"), url("../fonts/Icons/fontello.svg?55274503#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* General */
body {
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
}

.body-light {
  background-color: #FAFAFA;
  background-color: white;
}

.body-dark {
  background-color: #181a27;
}

.body-overflow {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

/* Font styles */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  color: #283d8e;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  color: #283d8e;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #283d8e;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #283d8e;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  color: #4b5165;
  word-break: break-word;
}

strong {
  font-weight: 700;
}

.p-dark {
  color: #e3e8ea;
}

.mt-60 {
  margin-top: 60px;
}
@media (min-width: 0px) and (max-width: 680px) {
  .mt-60 {
    margin-top: 40px;
  }
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}
@media (min-width: 0px) and (max-width: 680px) {
  .navbar {
    position: sticky;
  }
}

.navbar-light {
  background-color: white;
}

.navbar-dark {
  background-color: #13141f;
}
.navbar-dark .row-navbar .burguer-navbar .icon {
  color: white !important;
}

.row-navbar {
  position: relative;
  width: 94%;
  max-width: 1200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-navbar {
    justify-content: center;
  }
}

.logo-navbar {
  position: absolute;
  width: 116px;
  height: 40px;
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 680px) {
  .logo-navbar {
    position: relative;
  }
}
.logo-navbar .logo-nav {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-navbar .logo-nav .imagotype-navbar {
  position: relative;
  width: 25px;
  height: 25px;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background: linear-gradient(60deg, #500b94, #982489, #fe283d, #ff6c22, #fec348, #67d7bf, #00aacf, #1c528e);
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
  clip-path: polygon(0% 0%, 0% 100%, 22% 100%, 22% 19%, 79% 19%, 79% 80%, 21% 80%, 21% 100%, 100% 100%, 100% 0%);
}
.logo-navbar .type-nav {
  position: relative;
  width: 76px;
  height: 40px;
  overflow: hidden;
}
.logo-navbar .type-nav .type-svg {
  fill: #26033b;
}

.type-svg-animated {
  animation: typeout 8s 1 ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes typeout {
  0% {
    transform: translateX(0px);
  }
  7% {
    transform: translateX(-57px);
  }
  40% {
    transform: translateX(-57px);
  }
  93% {
    transform: translateX(-57px);
  }
  100% {
    transform: translateX(0px);
  }
}
.header-menu {
  position: relative;
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 680px) {
  .header-menu {
    display: none;
  }
}

.header-menu:after {
  content: "";
  clear: both;
}

.scroll-nav {
  position: relative;
  width: auto;
  height: auto;
}

ol.scroll-nav__list {
  position: relative;
  width: auto;
  height: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

ol.scroll-nav__list:after {
  content: "";
  display: table;
  clear: both;
}

.scroll-nav__item {
  margin-right: 20px;
  transition: 0.2s;
}
.scroll-nav__item:nth-last-child(1) {
  margin-right: 0;
}

.scroll-nav__link {
  font-weight: 400;
  color: lightslategray;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
}

.scroll-nav__item--active > .scroll-nav__link {
  color: #4966f7;
}

.switch-mode {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  clip-path: circle(50% at 50% 50%);
}
@media (min-width: 0px) and (max-width: 680px) {
  .switch-mode {
    position: absolute;
    top: 2px;
    right: 0;
  }
}
.switch-mode .icon {
  cursor: pointer;
  position: absolute;
  top: 8px;
  left: 8px;
}
.switch-mode .ni-light {
  color: #e47036;
  text-shadow: 0px 2px 8px rgba(252, 181, 15, 0.7);
}
.switch-mode .ni-dark {
  color: white;
  transform: translate(100%, -100%);
  text-shadow: 0px 2px 8px rgba(222, 243, 255, 0.7);
}

.light-mode {
  background-color: #dcf0fb;
}

.dark-mode {
  background-color: #151e36;
}

.sun-out {
  animation: sunout 0.3s 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.sun-in {
  animation: sunin 0.3s 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.moon-out {
  animation: moonout 0.3s 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.moon-in {
  animation: moonin 0.3s 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes sunout {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-100%, 100%);
  }
}
@keyframes sunin {
  0% {
    transform: translate(-100%, 100%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes moonout {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(100%, -100%);
  }
}
@keyframes moonin {
  0% {
    transform: translate(100%, -100%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.nav-dark {
  background-color: #28323c;
}

.navbar-dark .row-navbar .links-navbar .a-navbar {
  color: white;
}
.navbar-dark .row-navbar .links-navbar .a-navbar-blog {
  color: white;
}
.navbar-dark .row-navbar .logo-navbar .type-nav .type-svg {
  fill: white;
}

.burguer-navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 50%;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 680px) {
  .burguer-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.burguer-navbar .icon {
  font-size: 28px;
  cursor: pointer;
}

.background-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  display: none;
}

.background-menu-show {
  display: flex;
}

@media (min-width: 0px) and (max-width: 680px) {
  .small-menu {
    position: fixed;
    width: 70%;
    height: 100vh;
    top: 0;
    left: -70%;
    z-index: 6;
    background-color: white;
    box-shadow: 0 20px 30px rgba(16, 18, 51, 0.08), 0 6px 18px rgba(16, 18, 51, 0.1);
    display: flex;
    flex-direction: column;
    transition: 0.3s;
  }
}

.small-menu-show {
  animation: menuin 0.2s 1 ease-in;
  animation-fill-mode: forwards;
}

@keyframes menuin {
  0% {
    left: -70%;
  }
  100% {
    left: 0%;
  }
}
.small-menu-hide {
  animation: menuout 0.2s 1 ease-in;
  animation-fill-mode: forwards;
}

@keyframes menuout {
  0% {
    left: 0%;
  }
  100% {
    left: -70%;
  }
}
@media (min-width: 0px) and (max-width: 680px) {
  .small-menu-header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #f2f1f7;
    border-bottom: 1px solid #e7e8ed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
  .small-menu-header .smh-logo {
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url("../img/imagotipo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

@media (min-width: 0px) and (max-width: 680px) {
  .small-menu-content {
    position: relative;
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

ul.small-menu-ul {
  display: none;
}
@media (min-width: 0px) and (max-width: 680px) {
  ul.small-menu-ul {
    position: relative;
    width: 88%;
    height: auto;
    min-height: 100px;
    list-style: none;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
  }
  ul.small-menu-ul li {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  ul.small-menu-ul li a {
    position: relative;
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: #607d8b;
  }
}

.small-menu-dark {
  background-color: #13141f;
}
.small-menu-dark .small-menu-header {
  background-color: #0e0f16;
  border-bottom: 1px solid #262636;
}

/* Header */
.header {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: #11182b;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
@media (min-width: 0px) and (max-width: 680px) {
  .header {
    margin-top: 0px;
    flex-direction: column;
    height: 600px;
  }
}
@media (min-width: 680px) and (max-width: 960px) {
  .header {
    flex-direction: column;
  }
}
#te {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 70%;
}

.header-img {
  position: relative;
  width: 50%;
  max-width: 550px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.logo-header {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
@media (min-width: 0px) and (max-width: 680px) {
  .logo-header {
    width: 150px;
    height: 150px;
    display: none;
  }
}

.logo-header-small {
  position: relative;
  width: 200px;
  height: 200px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
@media (min-width: 0px) and (max-width: 680px) {
  .logo-header-small {
    width: 150px;
    height: 150px;
    display: flex;
  }
}

.imagotype-header {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background: linear-gradient(60deg, #500b94, #982489, #fe283d, #ff6c22, #fec348, #67d7bf, #00aacf, #1c528e);
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
  clip-path: polygon(0% 0%, 0% 100%, 22% 100%, 22% 19%, 79% 19%, 79% 80%, 21% 80%, 21% 100%, 100% 100%, 100% 0%);
}

.header-text {
  position: relative;
  width: 50%;
  max-width: 699px;
  height: auto;
  z-index: 2;
}
@media (min-width: 0px) and (max-width: 680px) {
  .header-text {
    width: 90%;
    margin-top: 60px;
  }
}
@media (min-width: 680px) and (max-width: 960px) {
  .header-text {
    width: 70%;
    margin-top: 40px;
  }
}
@media (min-width: 960px) and (max-width: 1060px) {
  .header-text {
    width: 40%;
  }
}

.text-js {
  opacity: 0;
}

.headline {
  position: relative;
  width: 100%;
  height: 200px;
}

h3.text-js {
  color: white;
  font-size: 32px;
  line-height: 45px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 680px) {
  h3.text-js {
    font-size: 26px;
    line-height: 40px;
  }
}
@media (min-width: 680px) and (max-width: 960px) {
  h3.text-js {
    font-size: 28px;
    line-height: 40px;
  }
}

#typed {
  position: relative;
  width: 100%;
  height: auto;
  color: white;
  font-size: 32px;
  line-height: 45px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 680px) {
  #typed {
    font-size: 26px;
    line-height: 40px;
    height: 220px;
  }
}
@media (min-width: 680px) and (max-width: 960px) {
  #typed {
    font-size: 28px;
    line-height: 40px;
  }
}

.stagger-visualizer {
  position: absolute;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 17rem;
  height: 17rem;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 680px) {
  .stagger-visualizer {
    display: none;
  }
}

.stagger-visualizer div {
  width: 1rem;
  height: 1rem;
  border: 1px solid #1d2740;
  background-color: #1d2740;
  opacity: 1;
}
@media (min-width: 0px) and (max-width: 680px) {
  .stagger-visualizer div {
    opacity: 0.3;
  }
}

.line-header {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(60deg, #500b94, #982489, #fe283d, #ff6c22, #fec348, #67d7bf, #00aacf, #1c528e);
  animation: animatedgradient 15s ease alternate infinite;
  background-size: 300% 300%;
}

.body-dark .header {
  background-color: #13141f;
}

/* Title */
.row-title-single {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-title-single h2 {
  text-align: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-title-single h2 {
    font-size: 26px;
  }
}
.row-title-single h3 {
  text-align: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-title-single h3 {
    font-size: 23px;
    width: 70%;
    line-height: 30px;
  }
}

.row-title-double {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-title-double > h3 {
  font-size: 20px;
  text-align: center;
  color: #4d1687;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-title-double > h3 {
    font-size: 16px;
  }
}

.row-title-double > h2 {
  margin-top: 8px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-title-double > h2 {
    font-size: 26px;
    margin-top: 4px;
  }
}

.body-dark .row-title-single h2 {
  color: white;
}
.body-dark .row-title-single h3 {
  color: white;
}
.body-dark .row-title-double h3 {
  color: #ad2994;
}
.body-dark .row-title-double h2 {
  color: white;
}

/* Block text image */
.block-image-text {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-block-image-text {
  position: relative;
  width: 94%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-block-image-text {
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.block-it-image {
  position: relative;
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .block-it-image {
    width: 100%;
  }
}
.block-it-image img {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 6px;
}

.block-it-text {
  position: relative;
  width: 40%;
  height: auto;
}
@media (min-width: 0px) and (max-width: 680px) {
  .block-it-text {
    width: 100%;
    margin-top: 20px;
  }
}
.block-it-text p {
  font-size: 18px;
  padding-left: 40px;
}
@media (min-width: 0px) and (max-width: 680px) {
  .block-it-text p {
    padding-left: 0;
  }
}

.body-dark .block-image-text .row-block-image-text .block-it-text p {
  color: #e2e6e8;
}

.row-services {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-services {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 60px;
    overflow: hidden;
  }
}
.row-services .col-services {
  position: relative;
  width: 96%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-services .col-services {
    width: 100%;
  }
}
.row-services .col-services .section-serv {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-services .col-services .section-serv {
    width: 90%;
    justify-content: space-around;
  }
}
.row-services .col-services .section-serv .col-serv1 {
  position: relative;
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-services .col-services .section-serv .col-serv1 {
    width: 40%;
  }
}
.row-services .col-services .section-serv .col-serv1 h3 {
  font-size: 34px;
  font-weight: 700;
  text-align: right;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-services .col-services .section-serv .col-serv1 h3 {
    font-size: 26px;
  }
}
.row-services .col-services .section-serv .col-serv1 p {
  font-size: 18px;
  text-align: right;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-services .col-services .section-serv .col-serv1 p {
    font-size: 16px;
  }
}
.row-services .col-services .section-serv .col-serv2 {
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-services .col-services .section-serv .col-serv2 {
    display: none;
  }
}
.row-services .col-services .section-serv .col-serv2 .img-serv {
  width: 360px;
  height: 240px;
  background-image: url("../img/weareMac1.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}
.row-services .col-services .section-serv .col-serv3 {
  position: relative;
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-services .col-services .section-serv .col-serv3 {
    width: 40%;
  }
}
.row-services .col-services .section-serv .col-serv3 h3 {
  font-size: 34px;
  font-weight: 700;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-services .col-services .section-serv .col-serv3 h3 {
    font-size: 26px;
  }
}
.row-services .col-services .section-serv .col-serv3 p {
  font-size: 18px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-services .col-services .section-serv .col-serv3 p {
    font-size: 16px;
  }
}
.row-services .col-services .section-serv:nth-child(3) {
  margin-top: 60px;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-services .col-services .section-serv:nth-child(3) .col-serv2 {
    display: none;
  }
}
.row-services .col-services .section-serv:nth-child(3) .col-serv2 .img-serv {
  width: 360px;
  height: 240px;
  background-image: url("../img/weareMac2.png");
  z-index: 2;
}

.row-services-imgHide {
  display: none;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-services-imgHide {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .row-services-imgHide img {
    position: relative;
    width: 80%;
    width: 280px;
    height: 217px;
  }
}

.body-dark .row-services .col-services .section-serv .col-serv1 p, .body-dark .row-services .col-services .section-serv .col-serv3 p {
  color: white;
}

/* Clients */
.block-clients {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (min-width: 0px) and (max-width: 680px) {
  .block-clients {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}

.row-clients {
  position: relative;
  width: 94%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-clients {
    flex-direction: column;
  }
}

.brand {
  position: relative;
  width: 160px;
  height: 58px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 680px) {
  .brand {
    width: 150px;
    height: 54px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
  }
  .brand:nth-child(1) {
    margin-top: 0;
  }
}

.brand-1 {
  background-image: url("../img/logo_educare.svg");
}

.brand-2 {
  background-image: url("../img/logo_todo.svg");
}

.brand-3 {
  background-image: url("../img/logo_nimbus2.svg");
}

.body-dark .block-clients .row-clients .brand-1 {
  background-image: url("../img/logo_educare_w.svg");
}
.body-dark .block-clients .row-clients .brand-2 {
  background-image: url("../img/logo_todo_w.svg");
}
.body-dark .block-clients .row-clients .brand-3 {
  background-image: url("../img/logo_nimbus2_w.svg");
}

/* Block text image */
.block-text-image {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 680px) {
  .block-text-image {
    padding-top: 20px;
    padding-bottom: 60px;
    overflow: hidden;
  }
}

.row-block-text-image {
  position: relative;
  width: 94%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-block-text-image {
    width: 86%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.block-ti-image {
  position: relative;
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .block-ti-image {
    width: 100%;
    margin-top: 30px;
  }
}
.block-ti-image img {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 6px;
}
.block-ti-image video {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 6px 30px 30px rgba(23, 43, 77, 0.1);
}

.weAre2 {
  position: absolute !important;
  right: 0 !important;
}

.edukai-square {
  position: absolute;
  width: 130px;
  height: 130px;
  bottom: -65px;
  right: 30px;
  background-image: url("../img/imagotipo.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (min-width: 0px) and (max-width: 680px) {
  .edukai-square {
    width: 60px;
    height: 60px;
    bottom: -30px;
    right: 15px;
  }
}

.block-ti-text {
  position: relative;
  width: 40%;
  height: auto;
}
@media (min-width: 0px) and (max-width: 680px) {
  .block-ti-text {
    width: 100%;
  }
}
.block-ti-text h3 {
  position: relative;
  width: 100%;
  max-width: 600px;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2b2a35;
}
@media (min-width: 0px) and (max-width: 680px) {
  .block-ti-text h3 {
    font-size: 28px;
    text-align: center;
  }
}
.block-ti-text p {
  font-size: 18px;
  padding-right: 40px;
}
@media (min-width: 0px) and (max-width: 680px) {
  .block-ti-text p {
    padding-right: 0;
  }
}
.block-ti-text a {
  position: relative;
  color: #334ac0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.6;
  transition: 0.3s;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.block-ti-text a .icon {
  color: #334ac0;
  font-size: 26px;
  margin-left: 10px;
}
.block-ti-text h4 {
  position: relative;
}
@media (min-width: 0px) and (max-width: 680px) {
  .block-ti-text h4 {
    margin-top: 20px;
  }
}

@media (min-width: 0px) and (max-width: 680px) {
  .ti-title {
    margin-top: 40px;
    margin-bottom: 30px !important;
  }
}

.video-test {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.video-test video {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.body-dark .block-text-image .row-block-text-image .block-ti-text .ti-title {
  color: #4966f7;
}
.body-dark .block-text-image .row-block-text-image .block-ti-text h4 {
  color: white;
}
.body-dark .block-text-image .row-block-text-image .block-ti-text h3 {
  color: white;
}
.body-dark .block-text-image .row-block-text-image .block-ti-text p {
  color: #e2e6e8;
}
.body-dark .block-text-image .row-block-text-image .block-ti-text a {
  color: #e2e6e8;
}

.marketplace {
  position: relative;
  width: 100%;
  height: auto;
}
@media (min-width: 0px) and (max-width: 680px) {
  .marketplace {
    margin-top: 20px;
  }
}
.marketplace img {
  position: relative;
  width: 100%;
  max-width: 1800px;
  height: auto;
}
@media (min-width: 0px) and (max-width: 680px) {
  .marketplace img {
    max-width: 600px;
  }
}
@media (min-width: 0px) and (max-width: 680px) {
  .marketplace .img-stack {
    display: none;
  }
}
.marketplace .img-stack-responsive {
  display: none;
}
@media (min-width: 0px) and (max-width: 680px) {
  .marketplace .img-stack-responsive {
    display: flex;
  }
}

/* Contact */
.contact {
  position: relative;
  width: 100%;
  height: auto;
  background: #4966f7 linear-gradient(95.24deg, #11182b 0, #0a1b4c 122.55%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  padding-top: 40px;
  padding-bottom: 100px;
}
@media (min-width: 0px) and (max-width: 680px) {
  .contact {
    height: auto;
    padding-top: 20px;
    padding-bottom: 60px;
  }
}
.contact .row-title {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.contact .row-title h2 {
  color: white;
  font-size: 48px;
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 680px) {
  .contact .row-title h2 {
    font-size: 36px;
  }
}

.body-dark .contact {
  background: #11182b;
}
.body-dark .contact .row-title h2 {
  color: #4966f7;
}

.row-contact {
  position: relative;
  width: 94%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-contact {
    flex-direction: column;
    margin-top: 0px;
  }
}
.row-contact .rc-col1 {
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-contact .rc-col1 {
    width: 100%;
  }
}
.row-contact .rc-col1 img {
  position: relative;
  width: 90%;
  max-width: 450px;
  height: auto;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-contact .rc-col1 img {
    max-width: 300px;
  }
}
.row-contact .rc-col2 {
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-contact .rc-col2 {
    width: 100%;
    align-items: center;
  }
}
.row-contact .contact-element {
  position: relative;
  width: 80%;
  height: 110px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-contact .contact-element {
    height: 80px !important;
    margin-top: 15px;
  }
}
.row-contact .contact-element:nth-child(1) {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-contact .contact-element {
    width: 86%;
    margin-top: 30px;
    height: 120px;
  }
  .row-contact .contact-element:nth-child(1) {
    margin-top: 0;
  }
}
.row-contact .contact-element .ce-icon {
  position: relative;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-contact .contact-element .ce-icon .cci-circle {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-contact .contact-element .ce-icon .cci-circle {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 680px) and (max-width: 960px) {
  .row-contact .contact-element .ce-icon .cci-circle {
    width: 40px;
    height: 40px;
  }
}
.row-contact .contact-element .ce-icon .cci-circle .icon {
  color: #334ac0;
  font-size: 32px;
}
.row-contact .contact-element .ce-text {
  margin-left: 4%;
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-contact .contact-element .ce-text p {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

/* Main button style */
.main-btn {
  position: relative;
  width: auto;
  height: 38px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  text-align: center;
  border: none;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.1rem 0.1rem transparent;
  border-radius: 8px;
  background-color: #11182b;
  transition: all 0.3s ease;
}

.main-btn:hover {
  background-color: #202e52;
}

.main-btn:focus {
  outline: none;
}

.main-btn:active {
  outline: none;
}

/* Footer */
.line-footer-gradient {
  position: absolute;
  top: -4px;
  width: 100%;
  height: 4px;
  background: linear-gradient(60deg, #500b94, #982489, #fe283d, #ff6c22, #fec348, #67d7bf, #00aacf, #1c528e);
  animation: animatedgradient 15s ease alternate infinite;
  background-size: 300% 300%;
}

.footer {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: 0.3s;
}

.footer-light {
  background-color: #f4f5f7;
}

.footer-dark {
  background-color: #161723;
}

.row-footer {
  position: relative;
  width: 92%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 86%;
  }
}

.footer-logo-small {
  display: none;
}
@media (min-width: 0px) and (max-width: 680px) {
  .footer-logo-small {
    display: flex;
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    justify-content: flex-start;
    align-items: center;
  }
}
.footer-logo-small .logo-footer-small {
  position: relative;
  width: 130px;
  height: 40px;
  background-image: url("../img/logo_footer.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.logo-footer {
  position: relative;
  width: 130px;
  height: 40px;
  background-image: url("../img/logo_footer.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.row-columns {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-columns {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.col-footer-logo {
  position: relative;
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (min-width: 0px) and (max-width: 680px) {
  .col-footer-logo {
    display: none;
  }
}

.col-footer {
  position: relative;
  width: 40%;
  height: auto;
  display: flex;
}
@media (min-width: 0px) and (max-width: 680px) {
  .col-footer {
    width: 100%;
    margin-top: 15px;
  }
}

.cf-1 {
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cf-1 h4 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-weight: 600;
}
.cf-1 a {
  position: relative;
  width: 120px;
  height: auto;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 12px;
  color: #171a40;
  transition: 0.3s;
  cursor: pointer;
}
.cf-1 a:hover {
  text-decoration: underline;
}

.cf-2 {
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cf-2 h4 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-weight: 600;
}
.cf-2 a {
  position: relative;
  width: 120px;
  height: auto;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 12px;
  color: #171a40;
  transition: 0.3s;
  cursor: pointer;
}
.cf-2 a:hover {
  text-decoration: underline;
}

.social-row {
  position: relative;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.social-row .icon {
  position: relative;
  font-size: 28px;
  transition: 0.3s;
  cursor: pointer;
}
.social-row .icon:hover {
  color: #00bcd4;
}

.line-footer {
  position: relative;
  width: 92%;
  max-width: 1200px;
  height: auto;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-footer p {
  color: #26033b;
}

.line-footer > p .icon {
  color: #26033b;
  font-size: 16px;
  line-height: 16px;
}

.button-lenguage {
  position: absolute;
  left: 0;
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .button-lenguage {
    display: none;
  }
}

.button-lenguage > p {
  position: relative;
  margin-left: 5px;
}

.line-divider-footer {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #e7e8ed;
  transition: 0.3s;
}

.footer-dark .row-footer .footer-logo-small .logo-footer-small {
  background-image: url("../img/logo_footer_negative.svg");
}
.footer-dark .row-footer .row-columns .col-footer-logo .logo-footer {
  background-image: url("../img/logo_footer_negative.svg");
}
.footer-dark .row-footer .row-columns .col-footer .cf-1 h4, .footer-dark .row-footer .row-columns .col-footer .cf-2 h4 {
  color: white;
}
.footer-dark .row-footer .row-columns .col-footer .cf-1 a, .footer-dark .row-footer .row-columns .col-footer .cf-2 a {
  color: white;
}
.footer-dark .row-footer .row-columns .col-footer .cf-2 .social-row .icon {
  color: white;
}
.footer-dark .line-divider-footer {
  background-color: #262636;
}
.footer-dark .line-footer .button-lenguage .icon {
  color: white;
}
.footer-dark .line-footer p {
  color: white;
}
.footer-dark .line-footer p .icon {
  color: white;
}

.false-a a {
  pointer-events: none;
  cursor: text;
}

.body-light .bg-grey {
  background-color: #e7ecef;
}

.scroll-fade-in-up {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.scroll-fade-in-up:nth-child(3n+2) {
  transition-delay: 0.1s;
}

.scroll-fade-in-up:nth-child(3n) {
  transition-delay: 0.2s;
}

.scroll-fade-in-up.visible {
  opacity: 1;
  transform: none;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.bg-white {
  background-color: #fff;
}

.row-newStackInfo {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 20px;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-newStackInfo {
    padding-top: 60px;
    padding-bottom: 10px;
  }
}
.row-newStackInfo h3 {
  position: relative;
  width: 80%;
  max-width: 600px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-newStackInfo h3 {
    font-size: 36px;
  }
}
.row-newStackInfo p {
  position: relative;
  text-align: center;
  width: 80%;
  max-width: 600px;
  font-size: 18px;
}

.row-newStack {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 40px;
}
.row-newStack .col-stack {
  position: relative;
  width: 15%;
  height: auto;
  min-height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.row-newStack .col-stack img {
  position: relative;
  width: 80%;
  height: auto;
  border-radius: 6px;
  margin-top: 20px;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}
.row-newStack .col-stack img:first-child {
  margin-top: 0px;
}

.body-dark .row-newStack .col-stack img {
  background-color: #292b3a;
}
.body-dark .container-insdustry .tab .tab_menu .tab_menu_item .tab_menu_item_link {
  color: white;
}
.body-dark .container-insdustry .tab .tab_container .tab_content .text-tab p {
  color: white;
}

.sectionBg {
  background-color: #f6f6f6;
}

.hide-title {
  opacity: 0;
  position: relative;
  width: 100%;
  height: 2px;
}

.clearfix {
  display: table;
  clear: both;
}

.container-insdustry {
  position: relative;
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .container-insdustry {
    padding-bottom: 60px;
  }
}

.tab {
  position: relative;
  width: 96%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.tab_menu {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .tab_menu {
    width: 96%;
    margin: 0 auto;
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
  }
}
.tab_menu_item {
  position: relative;
  width: auto;
  height: auto;
  margin-left: 20px;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 680px) {
  .tab_menu_item {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.tab_menu_item_link {
  position: relative;
  width: auto;
  height: auto;
  border: 0;
  padding: 9px 20px 11px;
  border-radius: 30px;
  color: #283d8e;
  transition: 0.3s;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  background: transparent;
}
@media (min-width: 0px) and (max-width: 680px) {
  .tab_menu_item_link {
    font-size: 15px;
    padding: 6px 16px 8px;
  }
}
.tab_menu_item_link:hover {
  color: #4966f7;
}
.tab_menu_item_link.is-active {
  background: linear-gradient(91.14deg, #4966f7 0, #8253ff 122.55%);
  border-radius: 30px;
  color: white;
}

.tab_container {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 200px;
}

.tab_content {
  position: relative;
  width: 100%;
  height: auto;
  display: none;
}
.tab_content.is-active {
  display: flex;
  justify-content: space-around;
  animation: fade 0.5s ease;
}
@media (min-width: 0px) and (max-width: 680px) {
  .tab_content.is-active {
    flex-direction: column;
    width: 92%;
    margin: 0 auto;
  }
}

.text-tab {
  position: relative;
  width: calc(100% - 300px);
  height: auto;
  min-height: 100px;
  display: flex;
  align-items: center;
  background-image: url("../img/s1bg.png");
  background-position: right;
  background-size: 400px;
  background-repeat: no-repeat;
}
@media (min-width: 0px) and (max-width: 680px) {
  .text-tab {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-position: center;
    background-size: 100%;
  }
}
.text-tab p {
  position: relative;
  width: 50%;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 680px) {
  .text-tab p {
    font-size: 17px;
    width: 100%;
  }
}

.img-tab {
  position: relative;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .img-tab {
    width: 100%;
  }
}
.img-tab img {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 220px;
}
@media (min-width: 0px) and (max-width: 680px) {
  .img-tab img {
    width: 80%;
    width: 300px;
    height: 225px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.row-solutionO {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 100px;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-solutionO {
    padding-bottom: 60px;
  }
}
.row-solutionO .col-solutionO {
  position: relative;
  width: 96%;
  max-width: 1200px;
  height: auto;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-solutionO .col-solutionO {
    flex-direction: column;
    width: 82%;
  }
}
.row-solutionO .element-sO {
  position: relative;
  width: 30%;
  height: 420px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background: linear-gradient(91.14deg, #4966f7 0, #8253ff 122.55%);
  box-shadow: 6px 30px 30px rgba(23, 43, 77, 0.1);
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-solutionO .element-sO {
    width: 100%;
    height: 380px;
    margin-top: 30px;
  }
  .row-solutionO .element-sO:nth-child(1) {
    margin-top: 0;
  }
}
.row-solutionO .element-sO .row-elementSO {
  position: relative;
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.row-solutionO .element-sO .row-elementSO h3 {
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-solutionO .element-sO .row-elementSO h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
}
.row-solutionO .element-sO .row-elementSO p {
  font-size: 20px;
  color: white;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-solutionO .element-sO .row-elementSO p {
    font-size: 18px;
  }
}
.row-solutionO .element-sO .row-elementSO a {
  position: absolute;
  bottom: 40px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.8;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-solutionO .element-sO .row-elementSO a {
    bottom: 25px;
    opacity: 1;
  }
}
.row-solutionO .element-sO .row-elementSO a:hover {
  opacity: 1;
}
.row-solutionO .element-sO .row-elementSO a .icon {
  color: white;
  font-size: 26px;
  margin-left: 10px;
}
.row-solutionO .element-sO .row-elementSO .imgSO {
  position: absolute;
  width: 140px;
  height: 140px;
  right: -10px;
  bottom: -40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (min-width: 0px) and (max-width: 680px) {
  .row-solutionO .element-sO .row-elementSO .imgSO {
    right: -10px;
    bottom: -5px;
  }
}

.iSO1 {
  background-image: url("../img/so3.png");
}

.iSO2 {
  background-image: url("../img/so2.png");
}

.iSO3 {
  background-image: url("../img/so1.png");
}

.mList {
  position: relative;
  width: 130px;
  height: auto;
}
@media (min-width: 0px) and (max-width: 680px) {
  .mList {
    display: none;
  }
}

.menuList {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

.menu-title {
  display: block;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: lightslategray;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
  text-decoration: none;
  text-align: center;
}

.menuL-dropdown {
  min-width: 100%;
  position: absolute;
  background-color: white;
  z-index: 100;
  transition: 0.3s;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}
.menuL-dropdown li {
  position: relative;
  width: 100%;
  height: auto;
}
.menuL-dropdown li a {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  color: lightslategray;
  text-decoration: none;
}

.menuList:not(:hover) > .menuL-dropdown {
  z-index: 99;
}

.menuL-dropdown > * {
  overflow: hidden;
  height: 35px;
  padding-left: 10px;
  background: rgba(110, 110, 110, 0);
  white-space: nowrap;
  transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color;
  color: lightslategray;
  display: flex;
  align-items: center;
}

.menuL-dropdown > *:hover {
  background: rgba(110, 110, 110, 0.1);
}

.menuList:not(:hover) > .menuL-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0);
  transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
  z-index: 99;
}

.menuElement {
  position: relative;
  width: auto;
  height: auto;
  font-weight: 400;
  color: lightslategray;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 0px) and (max-width: 680px) {
  .menuElement {
    display: none;
  }
}

.body-dark .row-newStackInfo h3 {
  color: #4966f7;
}
.body-dark .row-newStackInfo p {
  color: white;
}
.body-dark .sectionBg {
  background-color: #13141f;
}

.header-page {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: silver;
  margin-top: 60px;
}

#back-to-top {
  position: fixed;
  width: auto;
  height: auto;
  padding: 5px;
  bottom: 40px;
  right: 40px;
  text-align: center;
  background: #f5f5f5;
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  z-index: 3;
  box-shadow: 6px 30px 30px rgba(23, 43, 77, 0.1);
}

#back-to-top:hover {
  background: #e9ebec;
}

#back-to-top.show {
  opacity: 1;
}

#content {
  height: 2000px;
}

/*# sourceMappingURL=style.css.map */
